<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Neon Admin Panel">
    <meta name="author" content="">
    <title>个人信息</title>
    <link rel="stylesheet" href="/static/css/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="/static/css/entypo.css">
    <link rel="stylesheet" href="/static/css/css.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/neon-core.css">
    <link rel="stylesheet" href="/static/css/neon-theme.css">
    <link rel="stylesheet" href="/static/css/neon-forms.css">
    <link rel="stylesheet" href="/static/css/custom.css">

    <script src="/static/js/jquery-1.11.0.min.js"></script>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <script src="/static/js/parallax.min.js"></script>

</head>
<body class="page-body" data-url="http://neon.dev">

<div class="page-container">
    <div class="sidebar-menu">
        <header class="logo-env">
            <div class="logo">
                <a href="/myApp/home/">
                    <h3 style="color: #fff;font-weight: bold;margin-top: 5px;">BOSS直聘可视化分析</h3>
                </a>
            </div>
        </header>

        <div class="sidebar-user-info">

            <div class="sui-normal">
                <a href="#" class="user-link">
                    <img style="width:95%" src="/media/{{ userInfo.avatar }}" alt="" class="img-circle">

                    <span style="text-align:center;padding-top:209px">欢迎回来</span>
                    <strong style="text-align:center;margin-top:5px">{{ username }}</strong>
                </a>
            </div>

        </div>

        <ul id="main-menu" class="">
                <li >
                    <a href="/myApp/home">
                        <i class="entypo-gauge"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li class="opened active">
                    <a href="#">
                        <i class="entypo-user"></i>
                        <span>个人中心</span>
                    </a>
                    <ul>
                        <li class="active">
                            <a href="/myApp/selfInfo">
                                <span>个人信息</span>
                            </a>
                        </li>
                        <li>
                            <a href="/myApp/changePassword">
                                <span>修改密码</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="entypo-layout"></i>
                        <span>数据统计</span>
                    </a>
                    <ul>
                        <li>
                            <a href="/myApp/tableData">
                                <span>数据总览</span>
                            </a>
                        </li>
                        <li>
                            <a href="/myApp/historyTableData">
                                <span>岗位收藏</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="entypo-chart-bar"></i>
                        <span>可视化图表</span>
                    </a>
                    <ul>
                        <li>
                            <a href="/myApp/salary">
                                <i class="entypo-light-down"></i>
                                <span>薪资情况</span>
                            </a>
                        </li>
                        <li>
                            <a href="/myApp/company">
                                <i class="entypo-feather"></i>
                                <span>企业情况</span>
                            </a>
                        </li>
                        <li>
                            <a href="/myApp/companyTags">
                                <i class="entypo-lamp"></i>
                                <span>福利词云</span>
                            </a>
                        </li>
                        <li>
                            <a href="/myApp/educational">
                                <i class="entypo-graduation-cap"></i>
                                <span>学历分布</span>
                            </a>
                        </li>
                        <li>
                            <a href="/myApp/companyStatus">
                                <i class="entypo-network"></i>
                                <span>企业融资</span>
                            </a>
                        </li>

                    </ul>
                </li>
            <li>
                <a href="#">
                    <i class="entypo-flight"></i>
                    <span>模型预测</span>
                </a>
                <ul>
                    <li>
                        <a href="/myApp/yuce">
                            <i class="fa fa-superscript"></i>
                            <span>模型预测：工时:薪资</span>
                        </a>
                    </li>

                </ul>
            </li>
            </ul>

    </div>
    <div class="main-content">

        <div class="row">
            <!-- Raw Links -->
            <div style="display:flex;" class="col-md-12 hidden-xs">

                <ul style="margin-left:auto" class="list-inline links-list pull-right">

                    <li class="sep"></li>

                    <li>
                        <a href="/myApp/logOut">
                            退出登录 <i class="entypo-logout right"></i>
                        </a>
                    </li>
                </ul>

            </div>

        </div>

        <hr style="margin-top:0">

        <ol class="breadcrumb bc-3">
            <li>
                <a href="#"><i class="entypo-home"></i>个人中心</a>
            </li>
            <li class="active">
                <strong>个人信息</strong>
            </li>
        </ol>
        <h2>个人信息修改</h2>

        <br>

        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default">

                    <div class="panel-heading">
                        <div class="panel-options">
                            <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                            <a href="#" data-rel="close" class="bg"><i class="entypo-cancel"></i></a>
                        </div>
                    </div>

                    <div class="panel-body">
                        <form role="form" method="POST" enctype="multipart/form-data" action="/myApp/selfInfo/" class="form-horizontal form-groups-bordered">
                            <div class="form-group">
                                <label for="field-1" class="col-sm-3 control-label">用户名</label>
                                <div class="col-sm-5">
                                    <input type="text" name="username" readonly class="form-control" id="field-1"
                                           placeholder="{{ username }}" value="{{ username }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">学历</label>
                                <div class="col-sm-5">
                                    <label>
                                        <select class="form-control" name="educational">
                                            {% for e in educations %}
                                                {% if e == userInfo.educational %}
                                                    <option selected value="{{ e }}">{{ e }}</option>
                                                {% else %}
                                                    <option value="{{ e }}">{{ e }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">工作经验</label>
                                <div class="col-sm-5">
                                    <label>
                                        <select  class="form-control" name="workExpirence">
                                            {% for w in workExperience %}
                                                {% if w == userInfo.workExpirence %}
                                                    <option selected value="{{ w }}">{{ w }}</option>
                                                {% else %}
                                                    <option value="{{ w }}">{{ w }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="field-1" class="col-sm-3 control-label">意向城市</label>

                                <div class="col-sm-5">
                                    <input type="text" name="address" class="form-control" id="field-1"
                                           placeholder="请输入意向城市" value="{{ userInfo.address }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">意向岗位</label>
                                <div class="col-sm-5">
                                    <label>
                                        <select name="work" class="form-control">
                                            {% for j in jobsTypes %}
                                                {% if j == userInfo.work %}
                                                    <option selected value="{{ j }}">{{ j }}</option>
                                                {% else %}
                                                    <option value="{{ j }}">{{ j }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">图片上传</label>

                                <div class="col-sm-5">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;"
                                             data-trigger="fileinput">
                                            <img src="/media/{{ userInfo.avatar }}" alt=".. .">
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail"
                                             style="max-width: 200px; max-height: 150px; line-height: 6px;"></div>
                                        <div>
									<span class="btn btn-white btn-file">
										<span class="fileinput-new">选择图片</span>
										<span class="fileinput-exists">Change</span>
										<input type="file" name="avatar" accept="image/*">
									</span>
                                            <a href="#" class="btn btn-orange fileinput-exists"
                                               data-dismiss="fileinput">Remove</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-3 control-label">提交</label>
                                <button type="submit" class="btn btn-info">修改</button>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
        </div>

        <footer class="main">


            Create By Lingtao <a target="_blank"
                                                    href="https://www.zhipin.com/?ka=header-home">BOSS直聘</a>
        </footer>
    </div>

</div>


<!-- Bottom Scripts -->
<script src="/static/js/main-gsap.js"></script>
<script src="/static/js/jquery-ui-1.10.3.minimal.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/joinable.js"></script>
<script src="/static/js/resizeable.js"></script>
	<script src="/static/js/fileinput.js"></script>
<script src="/static/js/neon-api.js"></script>
<script src="/static/js/neon-chat.js"></script>
<script src="/static/js/neon-custom.js"></script>
<script src="/static/js/neon-demo.js"></script>

</body>
</html>